@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Ubuntu:wght@300;400&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(1.jpg);
    background-repeat : repeat;
    color: #fff;
}

h1{
    text-align: center;
    color: #ff7200;
    font-size: 50px;
}
h3{
    color: #ff7200;
    font-size: 35px;
}
p{
    color: #FDE74C;
    font-size: 25px;
}
div{
    font-size: 30px;
    margin: 20px 0px 30px 20px;
    width: fit-content; 
    padding: 10px;
    font-family:'Times New Roman', Times, serif ;
    color: wheat;
}
section{
    display: block;
    block-size: auto;
    width: fit-content;
    padding: 0px 0px 0px 0px;
    margin: 10px;
    
}
table, th, td, tr{
    border: 2px solid gray;
    border-collapse: collapse;
    width: auto;
    height: 40px;
    padding: 0px 40px;
}
.table{
    border: none;
}
input{
    background-color: black;
    color: white;
    height: 20px;
    border-radius: 5px;
}
button{
    background-color: black;
    color: white;
    height: 25px;
    border-radius: 5px;
}
footer{
    background-color: black;
    height: 80px;
}